[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mluchter
[access "refs/for/refs/*"]
	read = group user/mluchter
	push = group user/mluchter
	label-Code-Review = -2..+2 group user/mluchter
	label-Verified = -1..+1 group user/mluchter
	rebase = group user/mluchter
	removeReviewer = group user/mluchter
	submit = group user/mluchter
[access "refs/heads/*"]
	read = group user/mluchter
	create = group user/mluchter
	push = +force group user/mluchter
	pushMerge = group user/mluchter
[access "refs/tags/*"]
	push = +force group user/mluchter
	pushTag = group user/mluchter
	pushSignedTag = group user/mluchter
